
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  @apply bg-black text-white;
}

.react-datepicker-wrapper{
  width: auto !important;
  display: block !important;
}